@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .dot-orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spin 8s linear infinite;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    background-color: #f97316; /* orange-500 */
    border-radius: 9999px;
    position: absolute;
  }
  